body {
  background-color: rgb(47, 61, 121);
  cursor: url("./cursor.cur"), auto;
}

h1 {
  color: rgb(245, 192, 18);
  text-align: center;
  font-family: futura;
}

.olmec {
  height: 400px;
}

.corn {
  height: 250px;
}

.imgcontainer {
  display: flex;
  justify-content: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: rgb(255, 153, 255);
}
